*{
	margin:0;
	padding:0;
}
.header{
	width:100%;
	height:60px;
}
.header img{
	width:31px;
	height:30px;
	margin-top:15px;
	margin-left:50px;
}
.header-left a{
	font-family:SimHei;
	font-size:21px;
	color:#000000;
	position:absolute;
	top:18px;
	left:85px;
}
.header-nav{
	margin-left:800px;
	margin-top:-40px;
	width:600px;
}
.nav{
	padding:0px 20px 20px 10px;
	font-family:Microsoft YaHei;
	font-size:14px;
	color:#393a3a;
	margin-top:0px;
}
.nav:hover{
	border-bottom:3px solid #e7504d;
	color:#e7504d;
}
a{
	text-decoration:none;
}
.header-nav img{
	width:14px;
	height:14px;
	margin-left:20px;
}
.login{
	font-family:Microsoft YaHei;
	font-size:14px;
	color:#e7504d;
	margin-left:5px;
}
.banner-top{
	background-image:url(../images/03.png);
	background-size:100%;
	height:853px;
	background-repeat:no-repeat;
}
.banner-top-a{
	font-family:Microsoft YaHei;
	font-size:60px;
	color:red;
	width:500px;
	position:absolute;
	top:280px;
	left:120px;
}
.banner-top-b{
	width:330px;
	font-family:Microsoft YaHei;
	font-size:21px;
	color:red;
	position:absolute;
	top:370px;
	left:130px;
}
[type=button]{
	width:330px;
	height:65px;
	background-color:#e74f4d;
	font-family:Microsoft YaHei;
	font-size:30px;
	color:#ffffff;
	border:none;
	position:absolute;
	top:450px;
	left:130px;
}
